.slider-container {
  width: 80%;
  margin: 50px auto;
  position: relative;
  text-align: center;
}

.slider {
  overflow: hidden;
  border-radius: 15px;
}

.slides {
  display: flex;
  transition: transform 0.6s ease-in-out;
}

.slides img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 2.5%;
}


.nav-btn {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 25px;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 50%;
}

.nav-btn.left {
  left: 10px;
}

.nav-btn.right {
  right: 10px;
}


.dots {
  margin-top: 15px;
}

.dot {
  display: inline-block;
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background: gray;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background: black;
}
