:root {
  --site-blue: #4662ab;
  --site-green: #aab847;
  --text-normal: #333333;
  --site-gradient: linear-gradient(90deg, var(--site-blue), var(--site-green));
  --bg-product: #f6f9ff;
}


.MilletRoti,
.MilletDryIdlyDosaBatter {
  padding: 26px 30px;
  margin-bottom: 25px;
  border-radius: 2.5%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(0, 0, 0, 0.06);
  transition: 0.3s ease;
  position: relative;
  overflow: hidden;
  width: 500px;
  max-height: fit-content;
  margin-top: 60px;
  font-weight: 200px;
  background-color: var(--bg-product);
  height: 800px;
}
.MilletRava {
  padding: 26px 30px;
  margin-bottom: 25px;
  border-radius: 2.5%;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.06);
  transition: 0.3s ease;
  position: relative;
  overflow: hidden;
  width: 500px;
  max-height: 100%;
  margin-top: 60px;
  font-weight: 200px;
  background-color: var(--bg-product);
  height: 800px;
}
.MilletRava::before,
.MilletRoti::before,
.MilletDryIdlyDosaBatter::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: var(--site-gradient);
}

.MilletRava:hover,
.MilletRoti:hover,
.MilletDryIdlyDosaBatter:hover,
.WhyChooseOurProducts:hover {
  transform: translateY(-20px);
  box-shadow: 0px 8px 10px var(--site-blue);
}

.MilletRava h1,
.MilletRoti h1,
.MilletDryIdlyDosaBatter h1,
.WhyChooseOurProducts h1 {
  font-size: 26px;
  font-weight: 800;
  margin: 0 0 12px;
  color: var(--site-blue);
  -webkit-text-fill-color: initial;
  background: none;
}
.MilletRava p,
.MilletRoti p,
.MilletDryIdlyDosaBatter p,
.WhyChooseOurProducts p {
  font-size: 15px;
  color: #000;
  line-height: 1.2;
  text-align: justify;
  margin: 8px 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.MilletRava h2,
.MilletRoti h2,
.MilletDryIdlyDosaBatter h2,
.WhyChooseOurProducts h2 {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 700;
}
img {
  max-width: 100%;
  height: 350px;
  width: 500px;
  display: block;
  margin: 40px auto;
  border-radius: 7px;
  object-fit: cover;
}
.productbtns {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2px;
  margin: 15px 0;
  padding: 4px;
  border-radius: 0.5rem;
  background-color: white;
}

.productbtns button {
  padding: 12px 28px;
  background: transparent;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  background-color: #ffffff;
  width: 100%;
  color: var(--site-blue);
}

.productbtns button h2 {
  margin: 4px;
  font-size: 16px;
  font-weight: 700;
}

.productbtns button.active {
  background: #4662ab;
  border-radius: 0.5rem;
  border: 2px solid #4662ab;
  color: white;
}
@media (max-width:1980px) {
  .MilletRoti,
  .MilletDryIdlyDosaBatter,
  .MilletRava {
    width: 30%;
    height: fit-content;
    
  }
}
@media (max-width:1920px) {
  .MilletRoti,
  .MilletDryIdlyDosaBatter,
  .MilletRava {
    width: 30%;
    height: fit-content;
  }
}
@media (max-width: 1280px) {
 .MilletRoti,
  .MilletDryIdlyDosaBatter,
  .MilletRava {
    max-width: 40%;
    width: 100%;
    height: fit-content;
  }
  .MilletDryIdlyDosaBatter{
      margin-top: -0.4%;
      margin-bottom: -0.4%;
    }
  }
  @media (max-width: 1120px) {
    .MilletRoti,
    .MilletDryIdlyDosaBatter,
    .MilletRava {
      max-width: 42%;
      width: 100%;
      height: fit-content;
    }
    .MilletDryIdlyDosaBatter{
      margin-top: -0.1%;
      margin-bottom: -0.4%;
   }

}
@media (max-width: 850px) {

 
  .MilletRava {
     max-width: 100%;
    width: 100%;
    height: fit-content;
    scale: 0.9;
    margin-top: auto;
  }
 .MilletRoti,
  .MilletDryIdlyDosaBatter {
     max-width: 100%;
    width: 100%;
    height: fit-content;
    scale: 0.9;
    margin-top: -10%;
  }
    .MilletDryIdlyDosaBatter {
  
   margin-bottom: -10%;
  }
}

@media (max-width: 608px) {
 .MilletRoti,
  .MilletDryIdlyDosaBatter,
  .MilletRava {
    width: 100%;
    height: fit-content;
  }
   .MilletRoti,
  .MilletDryIdlyDosaBatter {
   
    margin-top: -15%;
  }
}

@media (max-width: 480px) {
  .MilletRoti,
  .MilletDryIdlyDosaBatter {
  
   margin-top: -19%;
  }
  
}

@media (max-width: 400px) {
  .MilletRoti,
  .MilletDryIdlyDosaBatter {
  
   margin-top: -12%;
  }
   .MilletDryIdlyDosaBatter {
  
   margin-bottom: -15%;
  }

}
@media (max-width: 393px) {
  .MilletRoti,
  .MilletDryIdlyDosaBatter {
  
   margin-top: -22%;
  }

}
