:root{
  --site-blue:#4662ab;
  --site-green:#aab847;
  --text-normal: #333333;
  --site-gradient: linear-gradient(90deg, var(--site-blue), var(--site-green));
  --bg-product:#f6f9ff;
}
.MilletRava{
  margin: 10%;
}
.MilletRoti{
    margin: -205px;

}
.MilletDryIdlyDosaBatter{
   margin: 10%;
}
.MilletRava,
.MilletRoti,
.MilletDryIdlyDosaBatter{
  
  padding: 26px 30px;
  margin-bottom: 25px;
  border-radius: 38px;
  box-shadow: 0px 10px 25px rgba(0,0,0,0.08);
  border: 1px solid rgba(0,0,0,0.06);
  transition: 0.3s ease;
  position: relative;
  overflow: hidden;
  width: 500px;

  margin-top: 60px;
  font-weight: 200px;
  background-color: var(--bg-product);
  height: 800px;
}
.WhyChooseOurProducts{
    margin-left: 10%;
  text-align: center;
 background-color: var(--bg-product);
  padding: 26px 30px;
  margin-bottom: 25px;
  border-radius: 18px;
  box-shadow: 0px 10px 25px rgba(0,0,0,0.08);
  border: 1px solid rgba(0,0,0,0.06);
  transition: 0.3s ease;
  position: relative;
  margin-top: 20px;
  overflow: hidden;
  width: 1520px;  
  margin-bottom: -50px;
  
}
.MilletRava::before,
.MilletRoti::before,
.MilletDryIdlyDosaBatter::before,
.WhyChooseOurProducts::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: var(--site-gradient);
}

.MilletRava:hover,
.MilletRoti:hover,
.MilletDryIdlyDosaBatter:hover,
.WhyChooseOurProducts:hover{
  transform: translateY(-20px);
  box-shadow: 0px 18px 40px var(--site-blue);
}

.MilletRava h1,
.MilletRoti h1,
.MilletDryIdlyDosaBatter h1,
.WhyChooseOurProducts h1{
  font-size: 26px;
  font-weight: 800;
  margin: 0 0 12px;
  color: var( --site-blue);
  -webkit-text-fill-color: initial;
  background: none;
}
.MilletRava p,
.MilletRoti p,
.MilletDryIdlyDosaBatter p,
.WhyChooseOurProducts p{
  font-size: 15px;
  color: #000;
  line-height: 2.2;
  text-align: justify;
  margin: 8px 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.MilletRava h2,
.MilletRoti h2,
.MilletDryIdlyDosaBatter h2,
.WhyChooseOurProducts h2{
  margin-top: 15px;
  font-size: 18px;
  font-weight: 700;
  color: var(--site-green);
}
img{
max-width: 100%;
  height: 350px;
  width: 500px;
  display: block;
  margin: 40px auto;
  border-radius:7px;
  object-fit: cover;  
}
@media(max-width:1000px){
  .MilletRava{
  margin: 21%;
  margin-top: 60px;
}
.MilletRoti{
    margin: 160px;
margin-top:-150px;
}
.MilletDryIdlyDosaBatter{
   margin: 20%;
   margin-top:-140px;
}
.WhyChooseOurProducts{
   margin-left: 20%;
    width: 500px; 
    margin-top: -140px;
}
  
}
@media(max-width: 750px){

  .MilletRava,
  .MilletRoti,
  .MilletDryIdlyDosaBatter,
  .WhyChooseOurProducts{
    padding: 18px 18px;
    
  }

  .MilletRava h1,
  .MilletRoti h1,
  .MilletDryIdlyDosaBatter h1,
  .WhyChooseOurProducts h1{
    font-size: 22px;
  }
}
@media(max-width:480px){
  .MilletRava{
  height: 815px;
}
.MilletRoti{  
  height: 815px;
}
.MilletDryIdlyDosaBatter{
  height: 820px;
}
  .MilletRava{
  margin: 3%;
  margin-top: 40px;
}
.MilletRoti{
    margin: 3%;
margin-top:5px;
}
.MilletDryIdlyDosaBatter{
   margin: 3%;
   margin-top:5px;
}
.WhyChooseOurProducts{
   margin-left:3%;
    width: 94%; 
    margin-top: 5px;
    margin-bottom: -30px;
}
  @media(max-width:393px){
.MilletRava{
  height: 835px;
}
.MilletRoti{  
  height: 900px;
}
.MilletDryIdlyDosaBatter{
  height: 870px;
}
}}