:root {
  --site-blue: #4662ab;
  --site-green: #aab847;
  --text-normal: #333333;
  --site-gradient: linear-gradient(90deg, var(--site-blue), var(--site-green));
}
#Products-page{
    scroll-margin-top:50px;
}

.productLine {
  padding: 40px 80px;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background: #f7f8fc;
  color: var(--text-normal);
}

.product-second-line {
  text-align: center;
  padding: 0 20%;
  font-size: 1.5rem;
}

.productLine h1 {
  font-size: 42px;
  font-weight: 800;
  margin-bottom: 10px;
}

.productLine p {
  font-size: 16px;
  color: #333;
  line-height: 1.8;
  max-width: 950px;
  margin-bottom: 35px;
}

.all {
  display: flex;
  flex-wrap: wrap;

}

@media (max-width: 750px) {
  .productLine {
    padding: 25px 18px;
  }

  .productLine h1 {
    font-size: 32px;
  }
  .product-second-line {
    font-size: 0.8rem;
  }
  .all{
    flex-direction: column;
  }
}
@media (max-width:2300px) {
  .all{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
   
  }
@media (max-width:1920px) {
  .all{
    display: flex;
    align-items: center;justify-content: center;
    flex-direction: row;
   
  }
}
@media(max-width:1200px) {
   .all{
     width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content:  center;
   flex-direction: row;
  }
  
  @media(max-width:820px) {
     .all{
       width: 100%;
      column-gap: 1rem;
      row-gap: 20px;
      flex-direction: column;
      align-items: center;
      justify-content:  center;
     
    }
 @media(max-width:670px) {
   .all{
     width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content:  center;
   
  }
}
}}}