
.ConnectPara{
    font-size: 30px;
    display: flex;
    text-align: justify;
    width: 750px;
    line-height: 1.7;
    margin: 20px;
    padding-top: 35px;
}
.image{
    display: inline-flex;
    
}
.image img{
height: 750px;
display: inline-flex;
min-width: 700px;
border-radius:70px;
}
.main{
    display: flex;
    flex-wrap: wrap;
     padding: 30px 10%;
}
.main1{
    display: inline;
}




@media (max-width: 768px) {
  .main {
    flex-direction: column;
    align-items: center;
    padding: 20px 5%;
  }

  .main1 {
    width: 100%;
  }

  .ConnectPara {
    width: 100%;
    font-size: 22px;
    margin: 10px 0;
    padding-top: 10px;
  }

  .image {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .image img {
    width: 100%;
    min-width: 100%;
    height: 450px;
    border-radius: 40px;
  }
}


@media (max-width: 576px) {
 
  
  .ConnectPara {
    font-size: 18px;
    line-height: 1.6;
  }

  .image img {
    height: 300px;
    border-radius: 25px;
  }

  .iconPackage {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 20px;
  }
  

.single {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  font-size: 14px;
  padding: 6px 10px;

  width: fit-content;
  max-width: 100%;

  overflow-wrap: anywhere;
}

}


@media (max-width: 390px) {
 
  
  .ConnectPara {
    font-size: 18px;
    line-height: 1.6;
  }

  .image img {
    height: 300px;
    border-radius: 25px;
  }

  .iconPackage {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 20px;
  }
  

.single {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  font-size: 14px;
  padding: 6px 10px;

  width: fit-content;
  max-width: 100%;

  overflow-wrap: anywhere;
}

}

