.ConnectPara{
    font-size: 30px;
    display: flex;
   
    text-align: left;
    max-width: 1050px;
    line-height: 2;
    margin: 20px;
}
.image{
    display: inline-flex;
}
.image img{
height: 700px;
display: inline-flex;
width: 900px;
border-radius:30px;

}
.main{
    display: flex;
}
