.wcu-container {
  padding: 30px 10%;
  margin: 40px auto;
  background-color: #f6f9ff;
  overflow: hidden;
}

.wcu-wrapper {
  display: flex;
  align-items: center;
  padding: 15px 0;
  flex-wrap: wrap;
}
.left-container {
  flex: 1;
}

.left-container .image-container {
  width: 100%;
}
.left-container .image-container img {
  width: 100%;
  height: auto;
  min-width: 450px;
}

.right-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.right-container .wcu-stats-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.right-container .wcu-stats-container .filler2 {
  height: 650px;
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 1280px) {
  .right-container {
    padding: 20px 0 0 0;
    margin: 0;
    width: 50%;
  }

  .right-container .wcu-stats-container {
    flex-wrap: nowrap;
    scale: 0.8;
    padding: 0;
    margin: 0;
  }
  .left-container .image-container {
    width: 100%;
  }
  .left-container .image-container img {
    width: 100%;
  }
}

@media (max-width: 1050px) {
  .right-container .wcu-stats-container .filler2 {
  }
  .wcu-container {
    padding: 15px 0;
  }
  .right-container {
    margin: 0;
  }
}
@media (max-width: 830px) {
  .wcu-container {
    padding: 15px 0;
  }
  .right-container .wcu-stats-container .filler2 {
    width: 33.2vw;
    display: flex;
    align-items: center;
  }
  .right-container {
    margin: 0;
    padding: 0;
  }
  .right-container .wcu-stats-container {
    flex-wrap: nowrap;
    scale: 1;
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 767px) {
  .right-container .wcu-stats-container .filler2 {
    width: 47.8vw;
  }
  .right-container .wcu-stats-container {
    flex-wrap: wrap;
    scale: 0.8;
  }
  .left-container .image-container img {
    width: 90%;
    scale: 1;
  }
}

@media (max-width: 480px) {
  .right-container .wcu-stats-container .filler2 {
    width: 58vw;
  }
  .left-container {
    height: auto;
  }
  .right-container {
    padding: 0 20px 20px 20px;
    margin: 0;
    width: 50%;
  }

  .right-container .wcu-stats-container {
    flex-wrap: nowrap;
    scale: 0.78;
    padding: 0;
    margin: 0;
  }
  .left-container .image-container {
    width: 391px;
  }
  .left-container .image-container img {
    width: 100%;
    scale: 1;
    padding: 20px 0 0 60px;
    margin: 0;
  }
}
@media (max-width: 430px) {
  .right-container .wcu-stats-container .filler2 {
    width: 60vw;
  }
  .left-container {
    height: auto;
  }
  .right-container {
    padding: 0 20px 20px 20px;
    margin: 0;
    width: 50%;
  }

  .right-container .wcu-stats-container {
    flex-wrap: nowrap;
    scale: 0.8;
    padding: 0;
    margin: 0;
    scale: 0.68;
  }
  .left-container .image-container {
    width: 391px;
  }
  .left-container .image-container img {
    width: 100%;
    scale: 1;
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 395px) {
  .right-container .wcu-stats-container .filler2 {
    width: 30vh;
    height: 610px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .left-container {
    height: auto;
  }
  .right-container {
    padding: 20px 0 0 0;
    margin: 0;
    width: 40%;
    height: 400px;
  }

  .right-container .wcu-stats-container {
    flex-wrap: nowrap;
    width: 100vh;
    scale: 0.58;
    padding: 0;
    margin: 0;
  }
  .left-container .image-container {
    width: 391px;
    margin-bottom: 0;
  }
  .left-container .image-container img {
    width: 100%;
    scale: 0.85;
    padding-right: 15px;
  }
}
