.wcu-container {
  padding: 30px 10%;
  margin: 40px auto;
  background-color: #f6f9ff;
  overflow: hidden;
}

.wcu-wrapper {
  display: flex;
  align-items: center;
  padding: 15px 0;
  flex-wrap: wrap;
}
.left-container {
  flex: 1;
}

.left-container .image-container {
  width: 100%;
}
.left-container .image-container img {
  width: 100%;
  height: auto;
  min-width: 450px;
}

.right-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-container .wcu-stats-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-container .wcu-stats-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  flex-wrap: wrap;
}


@media (max-width: 767px) {
  .right-container .wcu-stats-container {
    flex-wrap: wrap;
  }
  .left-container .image-container img {
    width: 90%;
    scale: 1;
  }
}

@media (max-width: 1280px) {
  .right-container {
    padding: 20px 0 0 0;
    margin: 0;
    width: 50%;
  }

  .right-container .wcu-stats-container {
    flex-wrap: nowrap;
    scale: 0.8;
    padding: 0;
    margin: 0;
  }
  .left-container .image-container {
    width: 100%;
  }
  .left-container .image-container img {
    width: 100%;
  }
}

@media (max-width: 1050px) {
  .right-container .wcu-stats-container div {
    margin: 10px;
  }
  .wcu-container {
    padding: 15px 0;
  }
  .right-container{
    margin: 0;
  }
  
}
@media (max-width: 830px) {
  .wcu-container {
    padding: 15px 0;
  }
  .right-container .wcu-stats-container div {
    margin: 10px;
  }
  .right-container{
    margin: 0;
    padding: 0;
  }
  .right-container .wcu-stats-container {
    flex-wrap: nowrap;
    scale: 1;
    padding: 0;
    margin: 0;
  }
  
}

@media (max-width: 480px) {
  .right-container .wcu-stats-container div {
    margin-top: 0;
  }
  .left-container {
    height: auto;
  }
  .right-container {
    padding: 0 20px 20px 20px;
    margin: 0;
    width: 50%;
  }

  .right-container .wcu-stats-container {
    flex-wrap: nowrap;
    scale: 0.8;
    padding: 0;
    margin: 0;
  }
  .left-container .image-container {
    width: 391px;
  }
  .left-container .image-container img {
    width: 100%;
    scale:1;
    padding: 20px 0 0 60px;
    margin: 0;
  }
}
@media (max-width: 430px) {
  .right-container .wcu-stats-container div {
    margin-top: 0;
  }
  .left-container {
    height: auto;
  }
  .right-container {
    padding: 0 20px 20px 20px;
    margin: 0;
    width: 50%;
  }

  .right-container .wcu-stats-container {
    flex-wrap: nowrap;
    scale: 0.8;
    padding: 0;
    margin: 0;
  }
  .left-container .image-container {
    width: 391px;
  }
  .left-container .image-container img {
    width: 100%;
    scale:1;
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 395px) {
  .left-container {
    height: auto;
  }
  .right-container {
    padding: 20px 0 0 0;
    margin: 0;
    width: 40%;
  }

  .right-container .wcu-stats-container {
    flex-wrap: nowrap;
    scale: 0.8;
    padding: 0;
    margin: 0;
    margin: 0;
  }
  .left-container .image-container {
    width: 391px;
    margin-bottom: 0;
  }
  .left-container .image-container img {
    width: 100%;
    scale: 0.85;
    padding-right: 15px;
  }
}
