
:root {
  --site-blue: #4662ab;
  --site-green: #aab847;
  --site-green: #aab847;

  --text-normal: #333333;
}

.heading-container {
  text-align: center;
  margin-bottom: 4rem 0;
  padding: 0 10px;
}

.heading {
  font-size: 4rem;
  font-weight: 800;
  color: var(--site-blue);
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.sub-heading {
  font-size: 2rem;
  color: var(--site-green);
  margin: 0 15%;
}

@media(max-width:820px){
.heading {
  font-size: 2.5rem;
}

.sub-heading {
  font-size: 1.5rem;
  
}
}

@media(max-width:480px){
.heading {
  font-size: 2rem;
 
}

.sub-heading {
  font-size: 1rem;
}
}

@media(max-width:393px){
.heading {
  font-size: 1.8rem;
 
}

.sub-heading {
  font-size: 0.89rem;
}
}
@media(max-width:1280px){
.heading {
  font-size: 2.5rem;
 
}

.sub-heading {
  font-size: 1.2rem;
}
}

