.about-stats-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #F6F9FF;
  padding: 20px;
  border-radius: 8px;
  width: 200px;
}

.icon-holder {
  padding: 15px;
}

.stats-number{
    font-size: 2rem;
    font-weight: bold;
    color: var(--site-blue);
}

.stats-text{
    font-size: 1rem;
    color: var(--text-normal);
}

.about-stats-card-container:hover{
    box-shadow: 1px 1px 3px 1px #4662AB33;
    scale: 1.01;
    transition: 0.3s ease-in-out;    
}