:root {
  --site-blue: #4662ab;
  --site-green: #aab847;
   --bg-product:#f6f9ff;
}  
  .orbit-scene {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 115vh;
    
    background-color: var(--bg-product);
    
     max-width: 100%;
  }

  .orbit-container {
    position: relative;
    width: 750px;
    height: 750px;

    
    --orbit-radius: 320px;
  }

  /* Center Image */
  .orbit-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
  }

  .center-card {
    width: 400px; /*center img size*/
    height: 400px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--site-blue  ) ;
  box-shadow: 0 0 105px color-mix(in srgb, var(--site-blue) 60%, transparent);
  }
 
  .center-card img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    border: 2px solid var(--site-green  ) ;
  }

  /* Rotating wrapper (this rotates everything inside perfectly) */
  .orbit-rotation {
    position: absolute;
    inset: 0;
    animation: spinOrbit 45s linear infinite;
    z-index: 1;
  }

  /* Orbit item (exactly from center) */
  .orbit-item {
    position: absolute; /*without this we cant organize the rotation*/
    top: 50%;
    left: 50%;

    /* IMPORTANT: set origin at exact center */
    transform: rotate(var(--angle)) translateX(var(--orbit-radius));
    transform-origin: 0 0;
  }

  /* Planet circle */
  .logo-circle {
    width: 200px; /* control size of the images*/
    height: 200px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
  box-shadow: 0 0 35px color-mix(in srgb, var(--site-blue) 60%, transparent);
    
     border: 2px solid var(--site-blue  ) ;
    /* Keeps image straight while orbit rotates */
    transform: rotate(calc(-1 * var(--angle)));
  }

  .logo-circle img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--site-green  ) ;
  }

  @keyframes spinOrbit {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @media (min-width: 1400px) {  
    .orbit-scene {
  
    height: 115vh;
  }
    .orbit-container{
      width: 850px;
      height: 850px;
      --orbit-radius: 295px;
    }
  }


@media (max-width: 1280px) {
     .orbit-scene {
  
     max-width: 100%;
     height: 110vh;
  }
    .orbit-container {
      width: 520px;
      height: 520px;
      --orbit-radius: 160px;
    }
     .orbit-scene {
    margin-left: 0 px;
  }
    .center-card {
      width: 240px;
      height: 240px;
        box-shadow: 0 0 60px color-mix(in srgb, var(--site-blue) 60%, transparent);

    }

    .logo-circle {
      width: 120px;
      height: 120px;
              box-shadow: 0 0 20px color-mix(in srgb, var(--site-blue) 60%, transparent);
                
    }
  }
  @media (max-width: 1023px) {
     .orbit-scene {

     max-width: 100%;
     height: 65vh;
  }
    .orbit-container {
      width: 520px;
      height: 520px;
      --orbit-radius: 160px;
    }
     .orbit-scene {
    margin-left: 0 px;
  }
    .center-card {
      width: 240px;
      height: 240px;
        box-shadow: 0 0 60px color-mix(in srgb, var(--site-blue) 60%, transparent);

    }

    .logo-circle {
      width: 120px;
      height: 120px;
              box-shadow: 0 0 20px color-mix(in srgb, var(--site-blue) 60%, transparent);
              
    }
  }
   @media (max-width: 617px) {
       .orbit-scene {

      max-width: 100%;
      height: 85vh;

    }
   }
  @media (max-width: 587px) {
    .orbit-scene {
    
      max-width: 100%;
      height: 80vh;

    }
    .orbit-container {
      width: 360px;
      height: 360px;
      --orbit-radius: 120px;
    }
     
    
    .center-card {
      width: 190px;
      height: 190px;
      box-shadow: 0 0 25px color-mix(in srgb, var(--site-blue) 60%, transparent);
      
    }
    
    .logo-circle {
      width: 100px;
      height: 100px;
      box-shadow: 0 0 10px color-mix(in srgb, var(--site-blue) 60%, transparent);
    }
  }

  @media (max-width: 480px) {
    .orbit-container {
      width: 280px;
      height: 280px;
      --orbit-radius:95px;
    }
     .orbit-scene {
    
     max-width: 100%;
     height: 50vh;
  }   

    .center-card {
      width: 140px;
      height: 140px;
        box-shadow: 0 0 30px color-mix(in srgb, var(--site-blue) 60%, transparent);

    }

    .logo-circle {
      width: 90px;
      height: 90px;
    }
  }
@media  (max-width:393px){
.orbit-container {
      width: 230px;
      height: 230px;
      --orbit-radius:60px;
    }
     .orbit-scene {
     max-width: 100%;
     height: 45vh;
  }   

    .center-card {
      width: 110px;
      height: 110px;
      box-shadow: 0 0 7px color-mix(in srgb, var(--site-blue) 60%, transparent);
    }

    .logo-circle {
      width: 70px;
      height: 70px;
              box-shadow: 0 0 5px color-mix(in srgb, var(--site-blue) 60%, transparent);

    }

}

