:root {
  --text-dim: #888888;
  --site-blue: #4662ab;
  --site-green: #aab847;
  --text-normal: #333333;
}

.contact-container {
  padding: 30px 10%;
  margin: 40px auto;
}

.wrapper {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.map-wrapper {
  flex: 1;
}

.map {
  min-width: 400px;
  width: 100%;
  height: 100%;
  min-height: 350px;
  border: 1px solid var(--site-green);
  border-radius: 4px;
}

.make-it-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.horizontal-rule{
  border: 1px solid var(--site-blue);
}

.form-wrapper {
  flex: 1;
  min-width: 350px;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 40px;
}

.form-group label {
  font-weight: bold;
}

.contact-subheading{
  color: var(--site-green)
}

.form-group input,
.form-group textarea {
  padding: 10px;
  border: 1px solid var(--text-dim);
  border-radius: 4px;
  &:focus {
    outline: none;
    border-color: var(--site-green);
    box-shadow: 2px 2px 5px rgba(170, 184, 71, 0.5);
  }
}
.form-group textarea{
  resize: none;
}

.submit-btn{
  background-color: var(--site-blue);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  float:right
}

@media (max-width: 450) {
  .contact-container {
    padding-right: 10px;
    padding-left: 10px;
    margin: 0;
  }
}