.footer-container {
  padding: 10px 10% 0;
  margin: 10px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.footer-divider {
  border: 1px solid var(--site-blue);
  width: 95%;
  margin: 10% auto 0;
}
.footer-divider2 {
  border: 1px solid var(--site-blue);
  width: 95%;
  margin: 0 auto 1%;
}

.company-details h1 {
  text-align: center;
  color: var(--site-blue);
}

.company-details h2 {
  text-align: center;
  color: var(--site-green);
}

.company-details img {
  width: 120px;
  height: 120px;
  margin: auto;
}

.navigators ul,
.social-links ul {
  display: flex;
  gap: 40px;
  padding: 30px 0 0;
}
.navigators ul li,
.social-links ul li {
  list-style: none;
  margin-bottom: 30px;
}
.navigators ul li a,
.social-links ul li a {
  text-decoration: none;
  color: var(--text-normal);
  &:hover {
    scale: 1.01;
  }
}

.align-center {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;
  color: #888888;
  padding: 2%;
  white-space: no-wrap;
}

.copyright-text {
  color: #888888;
  text-align: center;
  margin-bottom: 20px;
}

@media (min-width: 1280px) {
  .footer-divider {
    margin-top: 20px;
  }
}

@media (max-width: 780px) {
  .company-details h1 {
    font-size: 24px;
  }

  .company-details h2 {
    font-size: 14px;
  }
  .align-center {
    font-size: 12px;
  }
}
